<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">
    <script src="/js/prism.js"></script>

</head>
<body>
<div class="topnav">
    <a href="/" th:text="#{home}"></a>
    <a href="/tasks" th:text="#{allTasks}"></a>
    <a href="/tasks/new" th:text="#{addTask}"></a>
</div>
<div style="text-align: right;">

        <a href="#" class="lan" value="en" th:text="#{lang.eng}"></a>
        <a href="#" class="lan" value="nl" th:text="#{lang.nl}"></a>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".lan").click(function(){
            window.location.replace(window.location.pathname + '?lang=' + $(this).attr("value"));
        });
    });
</script>
</html>
