<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:insert="header.html :: link">
    <script th:insert="header.html :: script"></script>
    <title th:text="#{Createasubtaskforthistask}"></title>
</head>
<body>
<header th:insert="header.html :: div"></header>
<h1 th:text="#{newsubtaskfor} + ${task.taskName}"></h1>
<form action="#" th:action="@{/tasks/} + ${id} + '/sub/create'" th:object="${subtask}" method="post">

    <p><label for="taskName"th:text="#{taskName}"></label><input type="text" id="title" name="title" th:field="*{taskName}"/></p>
    <p th:errors="*{taskName}"></p>

    <p><label for="taskDescription"th:text="#{taskDescription}"></label><input type="text" id="description" name="description" th:field="*{taskDescription}"/></p>
    <p th:errors="*{taskDescription}"></p>
    <p><input type="submit" id="signUp" th:value="#{submit}"></p>
</form>
</body>
</html>